<td><%= model.maintain_tag&.name %></td>
<td><%= model.note %></td>
<td>
  <p><%= model.logged_type %></p>
  <p><%= model.logged_id %></p>
</td>
<td><%= simple_format model.extra %></td>
<td><time data-controller="time"><%= model.created_at.to_formatted_s(:iso8601) %></time></td>
