<div>
  <dt><%= Crm::Source.human_attribute_name(:picture) %></dt>
  <dd><%= image_tag @source.picture, class: 'image is-48x48' %></dd>
</div>
<div>
  <dt><%= Crm::Source.human_attribute_name(:width) %></dt>
  <dd><%= @source.width %></dd>
</div>
<div>
  <dt><%= Crm::Source.human_attribute_name(:height) %></dt>
  <dd><%= @source.height %></dd>
</div>
