<th><%= Crm::Maintain.human_attribute_name(:remark) %></th>
<th><%= Crm::Maintain.human_attribute_name(:state) %></th>
<th>
  <p><%= Crm::Maintain.human_attribute_name(:client_member_id) %></p>
</th>
<th>
  <div>
    <%= Crm::Maintain.human_attribute_name(:maintain_source_id) %>
  </div>
  <div>
    <%= Crm::Maintain.human_attribute_name(:pipeline_id) %>
  </div>
</th>
<th>
  <%= Crm::Note.human_attribute_name(:maintain_tag_id) %>
</th>
<th>
  <p class="text-grey"><%= Crm::Maintain.human_attribute_name(:member_id) %></p>
</th>
