<td><%= model.name %></td>
<td><%= model.logged_type_i18n %></td>
<td><%= model.sequence %></td>
<td>
  <span class="tag" style="background-color: <%= model.color %>"><%= model.color %></span>
</td>
<td><%= model.maintain_logs_count %></td>
