<td>
  <% if model.contact %>
    <p><%= link_to model.contact.identity, { action: 'show', id: model.id } %></p>
    <p><%= model.contact.name %></p>
  <% end %>
  <p><%= model.remark %></p>
</td>
<td><%= model.state_i18n %></td>
<td></td>
<td>
  <p><%= model.maintain_source&.name %></p>
  <p>
    <span><%# model.task_template&.name %></span>
    <% if model.member %>
      <span>(<%= model.member.name %>)</span>
    <% end %>
  </p>
</td>
<td>
  <% model.tags.each do |tag| %>
    <span class="tag"><%= tag %></span>
  <% end %>
</td>
<td>
  <p class="color-grey"><%= model.member&.name %></p>
  <p class="color-grey"><time data-controller="time"><%= model.created_at.to_fs(:iso8601) %></time></p>
</td>
