<%= form_with theme: 'search', model: Crm::Maintain.new do |f| %>
  <div class="field-body">
    <%= f.text_field 'client.real_name-like' %>
    <%= f.text_field 'client.nick_name-like' %>
    <%= f.text_field 'client.identity' %>
    <div class="field is-narrow">
      <%= f.submit %>
      <%= link_to t('.clear'), filter_params(except: ['client.real_name-like', 'client.nick_name-like', 'client.identity', 'age-gte', 'age-lte']), class: 'button is-light' %>
    </div>
  </div>
<% end %>
