<th>
  <p><%= Crm::Maintain.human_attribute_name('client.identity') %></p>
  <p>
    <span><%= Crm::Maintain.human_attribute_name('client.real_name') %></span>
    <span class="has-text-grey">（<%= Crm::Maintain.human_attribute_name('client.nick_name') %>）</span>
  </p>
  <p><%= Profiled::Profile.human_attribute_name(:remark) %></p>
</th>
<th><%= Crm::Maintain.human_attribute_name(:state) %></th>
<th>
  <p><%= Crm::Maintain.human_attribute_name(:client_user_id) %></p>
  <p><%= Crm::Maintain.human_attribute_name(:client_member_id) %></p>
</th>
<th>
  <div>
    <%= Crm::Maintain.human_attribute_name(:maintain_source_id) %>
    <%= link_to({ controller: 'maintain_sources' }, aria: { label: '来源设置' }, target: '_blank') do %>
      <i class="fa-solid fa-cog"></i>
    <% end %>
  </div>
  <div>
    <%= Crm::Maintain.human_attribute_name(:pipeline_id) %>
  </div>
</th>
<th>
  <%= Crm::MaintainLog.human_attribute_name(:maintain_tag_id) %>
  <%= link_to({ controller: 'maintain_tags' }, aria: { label: '标签设置' }, target: '_blank') do %>
    <i class="fa-solid fa-cog"></i>
  <% end %>
</th>
<th>
  <p class="has-text-grey"><%= Crm::Maintain.human_attribute_name(:member_id) %></p>
</th>
<th></th>
