<td><%= model.client.identity %></td>
<td>
  <p><%= model.client.real_name %></p>
  <p class="has-text-grey"><%= model.client.nick_name %></p>
</td>
<td class="has-text-centered">
  <p><%= model.client.age %></p>
  <p>
    <span class="tag">
      <i class="fa-light <%= model.client.male? ? 'fa-male' : 'fa-female' %>"></i>
      <span class="pl-1"><%= model.client.gender_i18n %></span>
    </span>
  </p>
</td>
<td>
  <p><%= model.maintain_source&.name %></p>
  <p>
    <span><%= model.task_template&.name %></span>
    <% if model.member %>
      <span>(<%= model.member.name %>)</span>
    <% end %>
  </p>
</td>
<td><%= model.note %></td>
<td>
  <% model.tags.each do |tag| %>
    <span class="tag"><%= tag %></span>
  <% end %>
</td>
<td>
  <p class="has-text-grey"><%= model.member&.name %></p>
  <p><%= model.state_i18n %></p>
</td>
<td>
  <p><%= model.payment_strategy&.name %></p>
  <p class="has-text-success"><%= model.deposit_ratio %></p>
</td>
