<p><%= model.client.identity %></p>
<p>
  <strong><%= model.client.real_name %></strong>
  <span class="text-grey ml-1"><%= model.client.nick_name %></span>
  <span class="tag">
    <i class="fa-solid <%= model.client.male? ? 'fa-male text-info' : 'fa-female text-danger' %>"></i>
    <span class="ml-1"><%= model.client.gender_i18n %></span>
  </span>
</p>
