<div class="ui top attached segment">
  <%= render 'filter' %>
</div>

<table class="table is-hoverable is-fullwidth">
  <thead>
    <tr>
      <th><%= MaintainTagTemplate.human_attribute_name(:name) %></th>
      <th><%= MaintainTagTemplate.human_attribute_name(:logged_type) %></th>
      <th><%= MaintainTagTemplate.human_attribute_name(:entity_column) %></th>
      <th><%= MaintainTagTemplate.human_attribute_name(:entity_value) %></th>
      <th><%= MaintainTagTemplate.human_attribute_name(:sequence) %></th>
      <th><%= MaintainTagTemplate.human_attribute_name(:color) %></th>
      <th>
        <%= link_to new_admin_maintain_tag_template_path, remote: true, class: 'button is-link is-small' do %>
          <i class="fas fa-plus"></i><%= t('.new') %>
        <% end %>
      </th>
    </tr>
  </thead>
  <tbody>
  <% @maintain_tag_templates.each do |maintain_tag_template| %>
    <tr>
      <td><%= maintain_tag_template.name %></td>
      <td><%= maintain_tag_template.logged_type %></td>
      <td><%= maintain_tag_template.entity_column %></td>
      <td><%= maintain_tag_template.entity_value %></td>
      <td><%= maintain_tag_template.sequence %></td>
      <td>
        <span class="ui label" style="background-color: <%= maintain_tag_template.color %>;"><%= maintain_tag_template.color %></span>
      </td>
      <td>
        <%= link_to admin_maintain_tag_template_path(maintain_tag_template), aria: { label: t('.show') }, class: 'button is-small is-rounded is-light', remote: true do %>
          <i class="fas fa-eye"></i>
        <% end %>
        <%= link_to edit_admin_maintain_tag_template_path(maintain_tag_template), aria: { label: t('.edit') }, class: 'button is-small is-rounded is-light', remote: true do %>
          <i class="fas fa-pencil-alt"></i>
        <% end %>
        <%= link_to admin_maintain_tag_template_path(maintain_tag_template), method: :delete, aria: { label: t('.destroy') }, data: { confirm: t('.confirm') }, class: 'button is-small is-rounded is-light' do %>
          <i class="fas fa-trash-alt"></i>
        <% end %>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>

<%= paginate @maintain_tag_templates %>
