<div>
  <dt><%= Crm::Contact.human_attribute_name(:name) %></dt>
  <dd><%= @maintain.contact&.name %></dd>
</div>
<div>
  <dt><%= Crm::Maintain.human_attribute_name(:state) %></dt>
  <dd><%= @maintain.state %></dd>
</div>
<% if defined? RailsWechat %>
<div>
  <dt><%= Crm::Maintain.human_attribute_name(:add_way) %></dt>
  <dd><%= @maintain.add_way_i18n %></dd>
</div>
<% end %>
