<td>
  <%= check_box_tag 'xx', model.id, false, id: nil %>
</td>
<td>
  <p><%= model.client.real_name %></p>
  <p class="text-grey"><%= model.client.nick_name %></p>
</td>
<td class="text-centered">
  <p><%= model.client.age %></p>
  <p class="tag">
    <i class="fa-solid <%= model.client.male? ? 'fa-male' : 'fa-female' %>"></i>
    <span class="pl-1"><%= model.client.gender_i18n %></span>
  </p>
</td>
<td>
  <p><%= model.maintain_source&.name %></p>
  <% if model.respond_to?(:task_template) %>
  <p>
    <span><%= model.task_template&.name %></span>
    <% if model.member %>
      <span>(<%= model.member.name %>)</span>
    <% end %>
  </p>
  <% end %>
</td>
<td><%= model.remark %></td>
<td>
  <% model.tags.each do |tag| %>
    <span class="tag"><%= tag %></span>
  <% end %>
</td>
<td>
  <p class="text-grey"><%= model.member&.name %></p>
  <p><%= model.state_i18n %></p>
</td>
