<td>
  <%= check_box_tag 'xx', model.id, false, data: { action: 'check#toggle' } %>
</td>
<td>
  <p><%= model.client.name %></p>
</td>
<td>
  <span><%= model.client.age %></span>
  <span class="tag">
      <i class="fa-light <%= model.client.male? ? 'fa-male' : 'fa-female' %>"></i>
    <%= model.client.gender_i18n %>
    </span>
</td>
<td>
  <p><%= model.agent&.name %></p>
  <p class="has-text-success"><%= model.agent&.identity %></p>
</td>
<td><%= model.agency&.relation_i18n %></td>
<td>
  <p><%= model.maintain_source&.name %></p>
  <p>
    <span><%= model.task_template&.name %></span>
    <% if model.member %>
      <span>(<%= model.member.name %>)</span>
    <% end %>
  </p>
</td>
<td><%= model.note %></td>
<td>
  <% model.tags.each do |tag| %>
    <span class="tag"><%= tag %></span>
  <% end %>
</td>
<td>
  <p class="has-text-grey"><%= model.member&.name %></p>
  <p><%= model.state_i18n %></p>
</td>
