<th>
  <div data-controller="check" data-check-name-value="xx" class="is-flex is-align-items-center">
    <%= check_box_tag 'xxd', 'xx', false, id: nil, data: { action: 'check#toggleAll' } %>
    <%= form_with url: { action: 'new_batch_assign' }, method: :get, class: 'button_to ml-2' do |f| %>
      <%= f.hidden_field :ids, data: { check_target: 'ids' } %>
      <%= button_tag data: { action: 'check#doSubmit' }, aria: { label: t('.assign') }, class: 'button is-small is-dark' do %>
        <i class="fa-solid fa-hand-holding-usd"></i>
      <% end %>
    <% end %>
  </div>
</th>
<th>
  <p><%= Crm::Maintain.human_attribute_name('client.real_name') %></p>
  <p class="has-grey-text"><%= Crm::Maintain.human_attribute_name('client.nick_name') %></p>
</th>
<th class="has-text-centered">
  <p><%= Crm::Maintain.human_attribute_name('client.age') %></p>
  <p><%= Crm::Maintain.human_attribute_name('client.gender') %></p>
</th>
<th>
  <%= Crm::Maintain.human_attribute_name(:maintain_source_id) %>
  <%= link_to({ controller: 'maintain_sources' }, aria: { label: '来源设置' }, target: '_blank') do %>
    <i class="fa-solid fa-cog"></i>
  <% end %>
</th>
<th><%= Crm::Maintain.human_attribute_name(:remark) %></th>
<th>
  <%= Crm::Note.human_attribute_name(:maintain_tag_id) %>
  <%= link_to({ controller: 'maintain_tags' }, aria: { label: '标签设置' }, target: '_blank') do %>
    <i class="fa-solid fa-cog"></i>
  <% end %>
</th>
<th><%= Crm::Maintain.human_attribute_name(:state) %></th>
