<td>
  <p><%= maintain.state_i18n %></p>
</td>
<td>
  <%= link_to assume_admin_maintain_path(maintain), aria: { label: t('.assume') }, method: :patch, class: 'button is-small is-rounded is-light' do %>
    <i class="fa-light fa-vote-yea"></i>
  <% end %>
  <%= link_to assign_admin_maintain_path(maintain), aria: { label: t('.assign') }, class: 'button is-small is-rounded is-light' do %>
    <i class="fa-light fa-hand-holding-usd"></i>
  <% end %>
  <%= link_to admin_maintain_maintain_logs_path(maintain), aria: { label: t('.log') }, class: 'button is-small is-rounded is-light' do %>
    <i class="fa-light fa-clock"></i>
  <% end %>
  <%= link_to admin_maintain_path(maintain), aria: { label: t('.show') }, class: 'button is-small is-rounded is-light' do %>
    <i class="fa-light fa-circle-info"></i>
  <% end %>
  <%= link_to edit_admin_maintain_path(maintain), aria: { label: t('.edit') }, class: 'button is-small is-rounded is-light' do %>
    <i class="fa-light fa-pencil"></i>
  <% end %>
  <%= link_to admin_maintain_path(maintain), method: :delete, aria: { label: t('.destroy') }, data: { confirm: t('.confirm') }, class: 'button is-small is-rounded is-light' do %>
    <i class="fa-light fa-trash"></i>
  <% end %>
</td>
