<%= link_to({ controller: 'maintains', action: 'show', id: model.id }, class: 'weui-actionsheet__cell') do %>
  <i class="fa-solid fa-circle-info"></i>
  <span><%= t('.show') %></span>
<% end %>
<%= link_to({ controller: 'cards', maintain_id: model.id }, class: 'weui-actionsheet__cell') do %>
  <i class="fa-solid fa-cards-blank"></i>
  <span><%= t('crm.admin.cards.index.title') %></span>
<% end %>
<%= link_to({ controller: 'wallets', maintain_id: model.id }, class: 'weui-actionsheet__cell') do %>
  <i class="fa-solid fa-wallet"></i>
  <span><%= t('crm.admin.wallets.index.title') %></span>
<% end %>
<%= link_to({ controller: 'addresses', maintain_id: model.id }, class: 'weui-actionsheet__cell') do %>
  <i class="fa-solid fa-location-dot"></i>
  <span><%= t('crm.admin.addresses.index.title') %></span>
<% end %>
<%= link_to({ controller: 'orders', maintain_id: model.id }, class: 'weui-actionsheet__cell') do %>
  <i class="fa-solid fa-truck-clock"></i>
  <span><%= t('crm.admin.orders.index.title') %></span>
<% end %>
<%= link_to({ controller: 'orders', action: 'new', maintain_id: model.id }, class: 'weui-actionsheet__cell') do %>
  <i class="fa-solid fa-truck-fast"></i>
  <span><%= t('crm.admin.orders.new.title') %></span>
<% end %>
