<%= render 'top_bar' %>

<div class="weui-panel is-box">
  <div class="weui-form-preview">
    <div class="weui-form-preview__bd">
      <%= render 'client' %>
    </div>
  </div>
</div>

<div class="weui-panel is-box">
  <div class="weui-panel__hd has-block-space-between">
    <span><%= t('crm.admin.maintain_logs.index.title') %></span>
    <%= link_to({ controller: 'maintain_logs', maintain_id: @maintain.id }, state: 'enter') do %>
      <span>更多</span>
      <i class="fa-solid fa-angles-right"></i>
  <% end %>
  </div>
  <div class="weui-panel__bd">
    <%= render partial: 'maintain_log', layout: 'maintain_log_tr', collection: @maintain.maintain_logs.order(id: :desc).limit(3), as: :model %>
  </div>
  <div class="weui-panel__ft">
    <%= render 'button_new' %>
  </div>
</div>
