<%= render 'top_bar' %>

<div class="weui-panel">
  <div class="weui-form-preview">
    <div class="weui-form-preview__bd">
      <%= render 'client' %>
    </div>
  </div>
</div>

<div class="weui-panel">
  <div class="weui-panel__hd"><%= t('crm.admin.maintain_logs.index.title') %></div>
  <div class="weui-panel__bd">
    <%= render partial: 'maintain_log', layout: 'maintain_log_tr', collection: @maintain.maintain_logs.order(id: :desc).limit(3), as: :model %>
  </div>
  <div class="weui-panel__ft">
    <%= render 'button_new' %>
  </div>
</div>
