<td rowspan="<%= model.client_maintains.size + 1 %>">
  <p><%= link_to model.identity, { action: 'show', id: model.id } %></p>
  <p>
    <span><%= model.real_name %></span>
    <% if model.nick_name.present? %>
      <span class="has-text-grey">（<%= model.nick_name %>）</span>
    <% end %>
  </p>
</td>
<td rowspan="<%= model.client_maintains.size + 1 %>">
  <p class="has-text-grey"><%= model.name %></p>
  <p class="has-text-grey"><time data-controller="time"><%= model.created_at.to_fs(:iso8601) %></time></p>
</td>
<td colspan="7" class="<%= model.client_maintains.size > 0 ? 'is-borderless is-empty' : '' %>"></td>
