<% content_for :breadcrumb do %>
  <ul>
    <li><%= link_to t('crm.admin.maintains.index.title'), admin_maintains_path %></li>
    <li class="is-active"><%= t('crm.admin.maintain_logs.index.title') %></li>
  </ul>
<% end %>

<%= render 'filter_form' %>

<table class="table is-hoverable is-fullwidth">
  <thead>
    <tr>
      <th>
        <%= MaintainLog.human_attribute_name(:maintain_tag_id) %>
        <%= link_to admin_maintain_tags_path, aria: { label: '标签设置' }, target: '_blank' do %>
          <i class="fas fa-cog"></i>
        <% end %>
      </th>
      <th><%= MaintainLog.human_attribute_name(:note) %></th>
      <th>
        <p><%= MaintainLog.human_attribute_name(:logged_type) %></p>
        <p><%= MaintainLog.human_attribute_name(:logged_id) %></p>
      </th>
      <th><%= MaintainLog.human_attribute_name(:extra) %></th>
      <th><%= MaintainLog.human_attribute_name(:created_at) %></th>
      <th>
        <%= link_to new_admin_maintain_maintain_log_path(@maintain), remote: true, class: 'button is-link is-small' do %>
          <i class="fas fa-plus"></i><%= t('.new') %>
        <% end %>
      </th>
    </tr>
  </thead>
  <tbody>
  <% @maintain_logs.each do |maintain_log| %>
    <tr>
      <td><%= maintain_log.maintain_tag&.name %></td>
      <td><%= maintain_log.note %></td>
      <td>
        <p><%= maintain_log.logged_type %></p>
        <p><%= maintain_log.logged_id %></p>
      </td>
      <td><%= simple_format maintain_log.extra %></td>
      <td><time><%= maintain_log.created_at.to_s(:rfc822) %></time></td>
      <td>
        <%= link_to edit_admin_maintain_maintain_log_path(@maintain, maintain_log), aria: { label: t('.edit') }, remote: true, class: 'button is-small is-rounded is-light' do %>
          <i class="fas fa-pencil-alt"></i>
        <% end %>
        <%= link_to admin_maintain_maintain_log_path(@maintain, maintain_log), method: :delete, aria: { label: t('.destroy') }, data: { confirm: t('.confirm') }, class: 'button is-small is-rounded is-light' do %>
          <i class="fas fa-trash-alt"></i>
        <% end %>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>

<%= paginate @maintain_logs %>
