<tr>
  <td><%= maintain_tag.name %></td>
  <td><%= maintain_tag.logged_type_i18n %></td>
  <td><%= maintain_tag.sequence %></td>
  <td>
    <span class="tag" style="background-color: <%= maintain_tag.color %>;"><%= maintain_tag.color %></span>
  </td>
  <td><%= maintain_tag.maintain_logs_count %></td>
  <td>
    <%= link_to({ action: 'edit', id: maintain_tag.id }, aria: { label: t('.show') }, remote: true, class: 'button is-small is-rounded is-light') do %>
      <i class="fas fa-info"></i>
    <% end %>
    <%= link_to({ action: 'edit', id: maintain_tag.id }, aria: { label: t('.edit') }, remote: true, class: 'button is-small is-rounded is-light') do %>
      <i class="fas fa-pencil-alt"></i>
    <% end %>
    <%= link_to({ action: 'destroy', id: maintain_tag.id }, method: :delete, remote: true, aria: { label: t('.destroy') }, data: { confirm: t('.confirm') }, class: 'button is-small is-rounded is-light') do %>
      <i class="fas fa-trash-alt"></i>
    <% end %>
  </td>
</tr>
