<div>
  <dt><%= Crm::MaintainTag.human_attribute_name(:name) %></dt>
  <dd><%= @maintain_tag.name %></dd>
</div>
<div>
  <dt><%= Crm::MaintainTag.human_attribute_name(:logged_type) %></dt>
  <dd><%= @maintain_tag.logged_type %></dd>
</div>
<div>
  <dt><%= Crm::MaintainTag.human_attribute_name(:entity_column) %></dt>
  <dd><%= @maintain_tag.entity_column %></dd>
</div>
<div>
  <dt><%= Crm::MaintainTag.human_attribute_name(:entity_value) %></dt>
  <dd><%= @maintain_tag.entity_value %></dd>
</div>
<div>
  <dt><%= Crm::MaintainTag.human_attribute_name(:sequence) %></dt>
  <dd><%= @maintain_tag.sequence %></dd>
</div>
<div>
  <dt><%= Crm::MaintainTag.human_attribute_name(:maintain_logs_count) %></dt>
  <dd><%= @maintain_tag.maintain_logs_count %></dd>
</div>
