<% @tags.each do |tag| %>
  <% maintain_tag = @selected_maintain_tags.find { |i| i.tag_id == tag.id } %>
  <tr>
    <td><%= tag.name %></td>
    <td><%= tag.logged_type_i18n %></td>
    <td><%= maintain_tag.sequence if maintain_tag %></td>
    <td>
      <span class="button" style="background-color: <%= maintain_tag.color %>;"><%= tag.color %></span>
    </td>
    <td><%= maintain_tag.maintain_logs_count if maintain_tag %></td>
    <td>
      <div data-controller="input">
        <% if maintain_tag %>
          <%= check_box_tag '', nil, true, data: { method: :delete, url: admin_maintain_tag_path(maintain_tag), submit: true }, id: nil %>
        <% end %>
        <% unless maintain_tag %>
          <%= check_box_tag '[maintain_tag]tag_id', tag.id, false, data: { method: :post, url: admin_maintain_tags_path, submit: true }, id: nil %>
        <% end %>
      </div>
    </td>
  </tr>
<% end %>
