<td>
  <p><%= link_to model.client.identity, { action: 'show', id: model.id } %></p>
  <p>
    <span><%= model.client.real_name %></span>
    <% if model.client.nick_name.present? %>
      <span class="has-text-grey">（<%= model.client.nick_name %>）</span>
    <% end %>
    <% if model.client.gender %>
      <span class="tag">
        <i class="fa-solid <%= model.client.male? ? 'fa-male has-text-info' : 'fa-female has-text-danger' %>"></i>
        <span class="pl-1"><%= model.client.gender_i18n %></span>
      </span>
    <% end %>
    <% if model.client.birthday %>
      <span class="tag"><%= model.client.age_str %></span>
    <% end %>
  </p>
  <p><%= model.remark %></p>
</td>
<td><%= model.state_i18n %></td>
<td>
  <p><%= model.client_member_id %></p>
  <p>
    <%= button_to({ action: 'edit_member', id: model.id }, class: 'button is-small is-link mb-1') do %>
      <i class="fa-solid fa-plus"></i>
      <span class="pl-1"><%= t('.edit_member.title') %></span>
    <% end %>
  </p>
</td>
<td>
  <p><%= model.maintain_source&.name %></p>
  <p>
    <span><%# model.task_template&.name %></span>
    <% if model.member %>
      <span>(<%= model.member.name %>)</span>
    <% end %>
  </p>
</td>
<td>
  <% model.tags.each do |tag| %>
    <span class="tag"><%= tag %></span>
  <% end %>
</td>
<td>
  <p class="has-text-grey"><%= model.member&.name %></p>
  <p class="has-text-grey"><time data-controller="time"><%= model.created_at.to_fs(:iso8601) %></time></p>
</td>
<% if defined? RailsFactory %>
<td>
  <%= form_with theme: nil, model: model, url: { action: 'update', id: model.id }, data: { controller: 'input' } do |f| %>
    <%= f.check_box :vendor, data: { input_target: 'checkbox' }, id: nil, class: 'switch is-rounded' %>
    <label data-action="click->input#check"></label>
  <% end %>
</td>
<% end %>
