<td>
  <p><%= link_to model.identity, { action: 'show', id: model.id } %></p>
  <p><span><%= model.name %></span></p>
</td>
<td>
<% if model.client_member_id %>
  <span class="tag is-success"><%= 'linked' %></span>
<% else %>
  <%= button_to({ action: 'edit_member', id: model.id }, class: 'button is-small is-link mb-1') do %>
    <i class="fa-solid fa-plus"></i>
    <span class="pl-1"><%= t('.edit_member.title') %></span>
  <% end %>
<% end %>
</td>
<td>
  <%= form_with theme: nil, model: model, url: { action: 'update_default', id: model.id }, data: { controller: 'input' } do |f| %>
    <%= f.check_box :default, data: { input_target: 'checkbox' }, id: nil, class: 'switch is-rounded' %>
    <label data-action="click->input#check"></label>
  <% end %>
</td>
