<tr id="tr_<%= model.id %>" data-controller="show" data-action="mouseenter->show#show mouseleave->show#hide">
  <%= yield %>
  <td rowspan="<%= model.client_maintains.size + 1 %>">
    <div data-show-target="item" style="visibility: hidden">
      <%= button_to({ action: 'edit_assign', id: model.id }, aria: { label: t('.edit_assign.title') }, class: 'button is-small is-rounded is-light') do %>
        <i class="fa-solid fa-hand-holding-usd has-text-success"></i>
      <% end %>
      <%= button_to({ action: 'show', id: model.id }, data: { turbo_scroll: true }, aria: { label: t('.show.title') }, class: 'button is-small is-rounded is-light') do %>
        <i class="fa-solid fa-circle-info has-text-info"></i>
      <% end %>
      <%= button_to({ action: 'edit', id: model.id }, data: { turbo_scroll: true }, aria: { label: t('.edit.title') }, class: 'button is-small is-rounded is-light') do %>
        <i class="fa-solid fa-pencil has-text-link"></i>
      <% end %>
      <%= button_to({ action: 'destroy', id: model.id }, method: :delete, aria: { label: t('.destroy.title') }, class: 'button is-small is-rounded is-light', form: { data: { turbo_confirm: t('.confirm') } }) do %>
        <i class="fa-solid fa-trash has-text-danger"></i>
      <% end %>
    </div>
    <div data-show-target="item" style="visibility: hidden" class="mt-2">
      <%= link_to({ controller: 'crm/admin/orders', contact_id: model.id }, aria: { label: t('.orders.index.title') }, class: 'button is-small is-rounded is-light') do %>
        <i class="fa-solid fa-shopping-cart has-text-primary"></i>
      <% end %>
      <%= link_to({ controller: 'crm/admin/addresses', contact_id: model.id }, aria: { label: t('.addresses.index.title') }, class: 'button is-small is-rounded is-light') do %>
        <i class="fa-solid fa-location-dot"></i>
      <% end %>
      <%= link_to({ controller: 'crm/admin/wallets', contact_id: model.id }, aria: { label: t('.wallets.index.title') }, class: 'button is-small is-rounded is-light') do %>
        <i class="fa-solid fa-wallet"></i>
      <% end %>
      <%= link_to({ controller: 'crm/admin/cards', contact_id: model.id }, aria: { label: t('.cards.index.title') }, class: 'button is-small is-rounded is-light') do %>
        <i class="fa-solid fa-credit-card"></i>
      <% end %>
      <%= link_to({ controller: 'crm/admin/productions', contact_id: model.id }, aria: { label: t('.productions.index.title') }, class: 'button is-small is-rounded is-light') do %>
        <i class="fa-solid fa-store"></i>
      <% end %>
    </div>
  </td>
</tr>
