<td><%= model.name %></td>
<td><%= model.logged_type_i18n %></td>
<td><%= model.sequence %></td>
<td>
  <span class="tag" style="background-color: <%= model.color %>">
    <span style="mix-blend-mode: difference"><%= model.color %></span>
  </span>
</td>
<td><%= model.notes_count %></td>
