<%= render 'error_messages', target: f.object %>
<div class="weui-form__control-area">
  <div class="weui-cells__group weui-cells__group_form">
    <div class="weui-cells__title">关系</div>
    <div class="weui-cells weui-cells_form">
      <%= f.select :relation, options_for_select(Agential::Agency.options_i18n(:relation)) %>
    </div>
  </div>
  <div class="weui-cells__group weui-cells__group_form">
    <div class="weui-cells__title">信息</div>
    <div class="weui-cells weui-cells_form">
      <%= f.fields :client do |ef| %>
        <%= ef.select :birthday_type, options_for_select(Profiled::Profile.options_i18n(:birthday_type)) %>
        <%= ef.date_field :birthday %>
        <%= ef.select :gender, options_for_select(Profiled::Profile.options_i18n(:gender)) %>
      <% end %>
    </div>
  </div>
</div>
