<%= render 'top_bar' %>

<div class="weui-panel is-box mt-3">
  <div class="weui-panel__bd">
    <div class="weui-cells">
    <% @sources.each do |source| %>
      <% if source.leaf? %>
        <%= link_to({ action: 'source', source_id: source.id }, state: 'enter', class: 'weui-cell weui-cell_access') do %>
          <span class="weui-cell__bd"><%= source.name %></span>
          <span class="weui-cell__ft"></span>
        <% end %>
      <% else %>
        <%= link_to({ action: 'list', source_id: source.id }, state: 'enter', class: 'weui-cell weui-cell_access') do %>
          <span class="weui-cell__bd"><%= source.name %></span>
          <span class="weui-cell__ft"></span>
        <% end %>
      <% end %>
    <% end %>
    </div>
  </div>
</div>
