<%= render 'top_bar' %>

<div class="weui-panel is-box">
  <div class="weui-panel__bd">
    <div class="is-flex flex-direction-column">
      <% if @source.picture.attached? %>
        <div class="has-text-centered has-text-grey"><%= @source.width %>px</div>
      <% end %>
      <div class="is-flex pl-5 pb-5">
        <% if @source.picture.attached? %>
          <%= image_tag @source.url_with_watermark(@contact&.file), class: 'image' %>
          <div class="has-text-centered has-text-grey" style="writing-mode: tb-rl"><%= @source.height %>px</div>
        <% else %>
          <%= image_tag @contact.qr_code, class: 'image' if @contact.qr_code %>
        <% end %>
      </div>
    </div>
  </div>
  <div class="weui-panel__ft">
    <div class="has-text-centered">长按图片可保存到相册</div>
  </div>
</div>

<div class="weui-panel is-box">
  <div class="weui-panel__bd">
    <div class="weui-media-box weui-media-box_small-appmsg">
      <div class="weui-cells">
        <%= render 'about_item' %>
      </div>
    </div>
  </div>
</div>
