<div class="fixed-grid has-auto-count">
  <div class="grid">
    <%= link_to({ controller: 'orders', contact_id: model.id }, class: 'cell as-boxed has-column-centered p-4') do %>
      <strong><%= @contact.orders.count %></strong>
      <p>订单</p>
    <% end %>
    <%= link_to({ controller: 'addresses', contact_id: model.id }, class: 'cell as-boxed has-column-centered p-4') do %>
      <strong><%= @contact.addresses.count %></strong>
      <p>地址</p>
    <% end %>
  </div>
</div>

<dl class="as-show as-boxed">
  <%= render 'show_table' %>
</dl>

<div class="box">
  <%= image_tag @contact.qrcode_bind_url, class: 'image is-128x128' %>
</div>
