<%= render 'top_bar' %>

<div class="fixed-grid has-auto-count px-3">
  <div class="grid">
    <%= link_to({ controller: 'orders', contact_id: model.id }, class: 'cell is-box has-column-centered') do %>
      <strong><%= @contact.orders.count %></strong>
      <p>订单</p>
    <% end %>
    <div class="cell is-box">
      <div class="has-column-centered">
        <strong><%= @contact.pending_members.count %></strong>
        <p>联系人</p>
      </div>
    </div>
  </div>
</div>

<dl class="as-show is-box mx-3">
  <%= render 'show_table' %>
</dl>
