<td><%= model.name %></td>
<td><%= model.logged_type %></td>
<td><%= model.entity_column %></td>
<td><%= model.entity_value %></td>
<td><%= model.sequence %></td>
<td>
  <span class="tag" style="background-color: <%= model.color %>"><%= model.color %></span>
</td>
