<th><%= Crm::Tag.human_attribute_name(:name) %></th>
<th><%= Crm::Tag.human_attribute_name(:logged_type) %></th>
<th>
  <p><%= Crm::Tag.human_attribute_name(:entity_column) %></p>
  <p><%= Crm::Tag.human_attribute_name(:entity_value) %></p>
</th>
<th><%= Crm::Tag.human_attribute_name(:sequence) %></th>
<th><%= Crm::Tag.human_attribute_name(:color) %></th>
