<td><%= model.name %></td>
<td><%= model.logged_type %></td>
<td>
  <p><%= model.entity_column %></p>
  <p><%= model.entity_value %></p>
</td>
<td><%= model.sequence %></td>
<td>
  <span class="tag" style="background-color: <%= model.color %>"><%= model.color %></span>
</td>
