<th><%= Crm::Contact.human_attribute_name(:name) %></th>
<th><%= Crm::Contact.human_attribute_name(:identity) %></th>
<th>
  <p class="color-grey"><%= Crm::Contact.human_attribute_name(:client_user_id) %></p>
</th>
<th>
  <p class="color-grey"><%= Crm::Contact.human_attribute_name(:client_id) %></p>
  <p class="color-grey"><%= Crm::Contact.human_attribute_name(:client_member_id) %></p>
</th>
