<div data-controller="common" class="column is-one-third">
  <%= form_with theme: nil, url: { controller: 'trade/my/orders', action: 'add' }, class: 'is-block py-2 has-background-light is-flex-direction-column has-text-centered' do |f| %>
    <%= f.hidden_field :good_type, value: source.class_name %>
    <%= f.hidden_field :good_id, value: source.id %>
    <%= f.hidden_field :member_id, value: current_member&.id %>
    <%= button_tag data: { action: 'turbo:submit-start@window->common#submit' }, class: 'weui-btn_cell weui-btn_cell-warn py-4' do %>
      <div class="header has-text-grey">购买物料</div>
      <div class="description has-text-danger"><%= source.price.to_money.format(html_wrap: true).html_safe %></div>
    <% end %>
  <% end %>
</div>
