<div class="weui-panel">
  <div class="weui-panel__hd">
    <span><%= @source.name %></span>
  </div>
  <div class="weui-panel__bd">
    <div class="is-flex is-flex-direction-column">
      <% if @primary_material %>
        <div class="has-text-centered has-text-grey"><%= @primary_material.width %>px</div>
      <% end %>
      <div class="is-flex pl-5 pb-5">
        <% if @primary_material %>
          <%= image_tag @primary_material.url_with_watermark(@contact&.file), class: 'image' %>
          <div class="has-text-centered has-text-grey" style="writing-mode: tb-rl"><%= @primary_material.height %>px</div>
        <% else %>
          <%= image_tag @contact.qr_code, class: 'image' if @contact.qr_code %>
        <% end %>
      </div>
    </div>
  </div>
  <div class="weui-panel__ft">
    <div class="has-text-centered">长按图片可保存到相册</div>
  </div>
</div>

<div class="weui-panel">
  <div class="weui-panel__bd">
    <div class="weui-media-box weui-media-box_small-appmsg">
      <div class="weui-cells">
        <%= render 'about_item' %>
      </div>
    </div>
  </div>
</div>
