<div class="weui-panel">
  <div class="weui-panel__hd">
    <span><%= @source.name %></span>
  </div>
  <div class="weui-panel__bd">
    <div class="box is-radiusless">
      <div class="has-text-centered">
        <span>宽：<%= @primary_material.width %>px</span>
        <span>高： <%= @primary_material.height %>px</span>
      </div>
      <% if @primary_material %>
        <%= image_tag @primary_material.url_with_watermark(@contact&.file), class: 'image' %>
      <% else %>
        <%= image_tag @contact.qr_code, class: 'image' %>
      <% end %>
    </div>
  </div>
</div>
