<td>
  <div class="is-several">
    <%= image_tag model.avatar_url, class: 'image is-24x24' if model.avatar_url.present? %>
    <span><%= model.name %></span>
    <span class="tag"><%= model.app.type_i18n %></span>
  </div>
</td>
<td>
<% if model.online? %>
  <p class="color-success">
    <i class="fa-solid fa-circle"></i>
    <time data-controller="time" data-format="human"><%= model.online_at.to_fs(:iso8601) %></time>
  </p>
<% elsif model.offline_at.present? %>
  <p class="color-grey">
    <i class="fa-solid fa-circle"></i>
    <time data-controller="time" data-format="human"><%= model.offline_at.to_fs(:iso8601) %></time>
  </p>
<% else %>
  <i class="fa-solid fa-circle color-grey"></i>
<% end %>
</td>
<td>
<% if model.user_id %>
  <i class="fa-solid fa-check color-success"></i>
<% end %>
</td>
<td>
<% model.authorized_tokens.each do |at| %>
  <p class="<%= at.online ? 'color-success' : 'color-grey' %>"><%= at.id %></p>
<% end %>
</td>
<td>
<% contact = @contacts.find(&->(i){ i.unionid == model.unionid }) %>
<% if contact %>
  <p><%= contact.id %></p>
<% else %>
  <%= button_to({ action: 'contact', id: model.id }, class: 'button is-small is-primary') do %>
    <span>加入联系人</span>
  <% end %>
<% end %>
</td>