<td>
  <%= link_to({ action: 'show', id: model.id }, class: 'is-several') do %>
    <%= image_tag model.product.logo, class: 'image is-24x24' if model.product.logo.attached? %>
    <span><%= model.name %></span>
  <% end %>
</td>
<td>
  <table class="table is-borderless">
  <% model.parts.each do |part| %>
    <tr>
      <td><span class="tag"><%# link_to part.name, { controller: 'products', action: 'show', id: part.id } %></span></td>
      <td><%# part.price %></td>
    </tr>
  <% end %>
  </table>
</td>
<td><%= model.price.to_money.format.html_safe %></td>
<td class="text-centered">
  <%= render partial: 'cart', locals: { item_con: 'items', item: @cart.init_cart_item(params, good_id: model.id), cart: @cart } %>
</td>
<td></td>
