<th>
  <p><%= Crm::Text.human_attribute_name(:note) %></p>
  <p class="color-grey"><%= Crm::Text.human_attribute_name(:font) %></p>
</th>
<th><%= Crm::Text.human_attribute_name(:align) %></th>
<th>
  <p><%= Crm::Text.human_attribute_name(:margin_y) %></p>
  <p><%= Crm::Text.human_attribute_name(:margin_x) %></p>
</th>
