<tr>
  <td class="has-text-right"><%= MaintainTagTemplate.human_attribute_name(:name) %></td>
  <td><%= @maintain_tag_template.name %></td>
</tr>
<tr>
  <td class="has-text-right"><%= MaintainTagTemplate.human_attribute_name(:logged_type) %></td>
  <td><%= @maintain_tag_template.logged_type %></td>
</tr>
<tr>
  <td class="has-text-right"><%= MaintainTagTemplate.human_attribute_name(:entity_column) %></td>
  <td><%= @maintain_tag_template.entity_column %></td>
</tr>
<tr>
  <td class="has-text-right"><%= MaintainTagTemplate.human_attribute_name(:entity_value) %></td>
  <td><%= @maintain_tag_template.entity_value %></td>
</tr>
<tr>
  <td class="has-text-right"><%= MaintainTagTemplate.human_attribute_name(:sequence) %></td>
  <td><%= @maintain_tag_template.sequence %></td>
</tr>
