<div>
  <dt><%= Crm::Tag.human_attribute_name(:name) %></dt>
  <dd><%= @tag.name %></dd>
</div>
<div>
  <dt><%= Crm::Tag.human_attribute_name(:logged_type) %></dt>
  <dd><%= @tag.logged_type %></dd>
</div>
<div>
  <dt><%= Crm::Tag.human_attribute_name(:entity_column) %></dt>
  <dd><%= @tag.entity_column %></dd>
</div>
<div>
  <dt><%= Crm::Tag.human_attribute_name(:entity_value) %></dt>
  <dd><%= @tag.entity_value %></dd>
</div>
<div>
  <dt><%= Crm::Tag.human_attribute_name(:sequence) %></dt>
  <dd><%= @tag.sequence %></dd>
</div>
