<% if params[:client_id] %>
  <li><%= link_to t('.clients.index.title'), { controller: 'clients' } %></li>
<% elsif params[:contact_id] %>
  <li><%= link_to t('.contacts.index.title'), { controller: 'contacts' } %></li>
<% elsif params[:client_member_id] %>
  <li><%= link_to t('.client_members.index.title'), { controller: 'client_members' } %></li>
<% elsif params[:client_organ_id] %>
  <li><%= link_to t('.client_members.index.title'), { controller: 'client_members' } %></li>
<% else %>
  <li><%= link_to t('.maintains.index.title'), { controller: 'maintains' } %></li>
<% end %>
