<% if params[:client_id] %>
  <li><%= link_to t('.clients.index.title'), { controller: 'clients' } %></li>
<% elsif params[:contact_id] %>
  <% if @client.client %>
    <li><%= link_to t('.clients.index.title'), { controller: 'clients' } %></li>
    <li><span class="px-3"><%= @client.name %></span></li>
    <li><%= link_to t('crm.admin.client.contacts.index.title'), { controller: 'crm/admin/client/contacts', client_id: @client.client_id } %></li>
  <% else %>
    <li><%= link_to t('.contacts.index.title'), { controller: 'contacts' } %></li>
  <% end %>
<% elsif params[:client_member_id] %>
  <li><%= link_to t('.client_members.index.title'), { controller: 'client_members' } %></li>
<% elsif params[:client_organ_id] %>
  <li><%= link_to t('.client_members.index.title'), { controller: 'client_members' } %></li>
<% else %>
  <li><%= link_to t('.maintains.index.title'), { controller: 'maintains' } %></li>
<% end %>
