<h2 class="title text-centered">
  <i class="fa-solid fa-sm fa-user-tie text-danger"></i>
  <span><%= @client.name %></span>
</h2>

<div class="tabs is-centered mb-4">
  <ul>
    <li class="<%= active_helper(contacts: ['show', 'edit'], active: 'is-active') %>">
      <%= link_to t('.contacts.show.title'), { controller: 'contacts', action: 'show', id: @client.id } %>
    </li>
    <li class="<%= active_helper(controllers: 'crm/admin/contact/maintains', active: 'is-active') %>">
      <%= link_to t('crm.admin.contact.maintains.index.title'), { controller: 'contact/maintains', contact_id: @client.id } %>
    </li>
    <li class="<%= active_helper(controllers: 'notes', active: 'is-active') %>">
      <%= link_to t('.notes.index.title'), { controller: 'notes', contact_id: @client.id } %>
    </li>
    <li class="<%= active_helper(controller: 'orders', action: 'index', contact_id: @client.id, active: 'is-active') %>">
      <%= link_to t('.orders.index.title'), { controller: 'orders', contact_id: @client.id } %>
    </li>
    <li class="<%= active_helper(controller: 'orders', action: 'unpaid', contact_id: @client.id, active: 'is-active') %>">
      <%= link_to t('.orders.unpaid.title'), { controller: 'orders', action: 'unpaid', contact_id: @client.id } %>
    </li>
    <li class="<%= active_helper(controllers: 'wallets', active: 'is-active') %>">
      <%= link_to t('.wallets.index.title'), { controller: 'wallets', contact_id: @client.id } %>
    </li>
    <li class="<%= active_helper(controllers: 'cards', active: 'is-active') %>">
      <%= link_to t('.cards.index.title'), { controller: 'cards', contact_id: @client.id } %>
    </li>
    <li class="<%= active_helper(controllers: 'addresses', active: 'is-active') %>">
      <%= link_to t('.addresses.index.title'), { controller: 'addresses', contact_id: @client.id } %>
    </li>
    <li class="<%= active_helper(controllers: ['productions', 'orders'], active: 'is-active') %>">
      <%= link_to t('.productions.index.title'), { controller: 'productions', contact_id: @client.id } %>
    </li>
    <li class="<%= active_helper(controllers: 'provides', active: 'is-active') %>">
      <%= link_to t('.provides.index.title'), { controller: 'provides', contact_id: @client.id } %>
    </li>
  </ul>
</div>
