<h2 class="title text-centered">
  <%= @client.name %>
</h2>

<div class="tabs is-centered">
  <ul>
    <li class="<%= active_helper(maintains: ['show', 'edit'], active: 'is-active') %>">
      <%= link_to t('.maintains.show.title'), { controller: 'maintains', action: 'show', id: @client.id } %>
    </li>
    <li class="<%= active_helper(controllers: 'notes', active: 'is-active') %>">
      <%= link_to t('.notes.index.title'), { controller: 'notes', maintain_id: @client.id } %>
    </li>
    <li class="<%= active_helper(controllers: 'orders', active: 'is-active') %>">
      <%= link_to t('.orders.index.title'), { controller: 'orders', maintain_id: @client.id } %>
    </li>
    <li class="<%= active_helper(controllers: 'wallets', active: 'is-active') %>">
      <%= link_to t('.wallets.index.title'), { controller: 'wallets', maintain_id: @client.id } %>
    </li>
    <li class="<%= active_helper(controllers: 'cards', active: 'is-active') %>">
      <%= link_to t('.cards.index.title'), { controller: 'cards', maintain_id: @client.id } %>
    </li>
    <li class="<%= active_helper(controllers: 'addresses', active: 'is-active') %>">
      <%= link_to t('.addresses.index.title'), { controller: 'addresses', maintain_id: @client.id } %>
    </li>
    <li class="<%= active_helper(controllers: 'productions', active: 'is-active') %>">
      <%= link_to t('.productions.index.title'), { controller: 'productions', maintain_id: @client.id } %>
    </li>
  </ul>
</div>
