<div>
  <dt><%= Agency.human_attribute_name('client.real_name') %></dt>
  <dd><%= @agency.client.real_name %></dd>
</div>
<div>
  <dt><%= Agency.human_attribute_name('client.age') %></dt>
  <dd><%= @agency.client.age %></dd>
</div>
<div>
  <dt><%= Agency.human_attribute_name('client.gender') %></dt>
  <dd><%= @agency.client.gender %></dd>
</div>
<div>
  <dt><%= Agency.human_attribute_name(:note) %></dt>
  <dd><%= @agency.client.note %></dd>
</div>
<div>
  <dt><%= Agency.human_attribute_name('agent.identity') %></dt>
  <dd>
    <%= @agency.tutelar.identity %>
    <% if @agency.tutelar.user && @agency.tutelar.account&.wechat_response %>
      <%= image_tag @agency.tutelar.account.qrcode_url, class: 'ui small image' %>
    <% else %>
      <%= link_to qrcode_admin_profile_path(@agency.tutelar), method: :patch, remote: true, id: 'account_qrcode' do %>
        <i class="fa-solid fa-qrcode"></i>
      <% end %>
    <% end %>
  </dd>
</div>
