<div class="tabs is-boxed mb-3">
  <ul>
    <li class="<%= active_helper(controller: 'crm/admin/clients', active: 'is-active') %>">
      <%= link_to({ controller: 'crm/admin/clients' }) do %>
        <span><%= t('crm.admin.clients.index.title') %></span>
      <% end %>
    </li>
    <li class="<%= active_helper(controller: 'crm/me/clients', active: 'is-active') %>">
      <%= link_to({ controller: 'crm/me/clients' }) do %>
        <span><%= t('crm.me.clients.index.title') %></span>
      <% end %>
    </li>
  </ul>
</div>