<div data-controller="empty" class="weui-panel is-box is-borderless">
  <div class="weui-panel__hd">
    <i class="fa-solid fa-fw fa-chart-line has-text-primary"></i>
    <span class="has-text-grey"><%= t('crm.me.title') %></span>
  </div>
  <div class="weui-panel__bd">
    <div class="columns is-4-mobile is-flex is-vcentered is-centered m-0 is-shadow" data-empty-target="content">
      <%= link_to({ controller: 'crm/me/maintains' }, class: 'column has-column-centered') do %>
        <div class="has-text-primary">
          <i class="fa-solid fa-fw fa-xl fa-users"></i>
        </div>
        <div class="has-text-grey is-size-7 mt-1"><%= t('crm.me.maintains.index.title') %></div>
      <% end %>
      <%= link_to({ controller: 'crm/me/sources' }, state: 'enter', class: 'column has-column-centered') do %>
        <div class="has-text-primary">
          <i class="fa-solid fa-fw fa-xl fa-tags"></i>
        </div>
        <div class="has-text-grey is-size-7 mt-1"><%= t('crm.me.sources.index.title') %></div>
      <% end %>
    </div>
  </div>
</div>
