<%= button_to({ action: 'destroy' }, method: :delete, class: 'has-text-danger', form: { data: { turbo_confirm: t('.destroy.confirm') }, class: 'cell weui-actionsheet__cell_warn' }) do %>
  <i class="fa-solid fa-trash"></i>
  <span><%= t('.destroy.title') %></span>
<% end %>
<%= button_to({ action: 'edit' }, class: 'cell') do %>
  <i class="fa-solid fa-pencil"></i>
  <span><%= t('.edit.title') %></span>
<% end %>
<%= link_to({ action: 'show' }, class: 'cell') do %>
  <i class="fa-solid fa-circle-info"></i>
  <span><%= t('.show.title') %></span>
<% end %>
<%= link_to({ controller: 'wallet_advances', wallet_id: model.id }, class: 'cell') do %>
  <span><%= t('crm.admin.wallet_advances.index.title') %></span>
<% end %>
<%= link_to({ controller: 'wallet_payments', wallet_id: model.id }, class: 'cell') do %>
  <span><%= t('crm.admin.wallet_payments.index.title') %></span>
<% end %>
<%= link_to({ controller: 'wallet_logs', wallet_id: model.id }, class: 'cell') do %>
  <span><%= t('crm.admin.wallet_logs.index.title') %></span>
<% end %>
