<th>
  <p><%= Profiled::Address.human_attribute_name(:contact_person) %></p>
  <p><%= Profiled::Address.human_attribute_name(:tel) %></p>
</th>
<th>
  <p><%= Profiled::Address.human_attribute_name(:area_id) %></p>
  <p><%= Profiled::Address.human_attribute_name(:detail) %></p>
</th>
<th><%= Profiled::AddressUse.human_attribute_name(:kind) %></th>
<th><%= Profiled::AddressUse.human_attribute_name(:default) %></th>
<th><%= Profiled::AddressUse.human_attribute_name(:contact_id) %></th>
