<table class="table as-search">
  <tr>
    <th><%= Crm::Maintain.human_attribute_name(:state) %></th>
    <td>
      <%= link_to t('.all'), filter_params(except: [:state]), class: active_helper(state: nil, active: 'button is-info', item: 'button is-light') %>
      <% Crm::Maintain.options_i18n(:state).each do |text, state| %>
        <%= link_to text, filter_params(state: state), class: active_helper(state: state, active: 'button is-info', item: 'button is-light') %>
      <% end %>
    </td>
  </tr>
  <tr>
    <th><%= link_to Crm::Maintain.human_attribute_name(:maintain_source_id), { controller: 'maintain_sources' }, text: true %></th>
    <td>
      <%= link_to t('.all'), filter_params(except: [:maintain_source_id]), class: active_helper(maintain_source_id: nil, active: 'button is-info', item: 'button is-light') %>
      <% @maintain_sources.each do |maintain_source| %>
        <%= link_to maintain_source.name, filter_params(maintain_source_id: maintain_source.id), class: active_helper(maintain_source_id: maintain_source.id, active: 'button is-info', item: 'button is-light') %>
      <% end %>
    </td>
  </tr>
  <tr>
    <th><%= link_to Crm::Maintain.human_attribute_name(:maintain_tag_id), { controller: 'maintain_tags' }, text: true %></th>
    <td>
      <%= link_to t('.all'), filter_params(except: [:'maintain_logs.maintain_tag_id']), class: active_helper('maintain_logs.maintain_tag_id': nil, active: 'button is-info', item: 'button is-light') %>
      <% @maintain_tags.each do |maintain_tag| %>
        <%= link_to maintain_tag.name, filter_params('maintain_logs.maintain_tag_id': maintain_tag.id), class: active_helper('maintain_logs.maintain_tag_id': maintain_tag.id, active: 'button is-info', item: 'button is-light') %>
      <% end %>
    </td>
  </tr>
</table>
