<div class="level">
  <h4 class="level-item has-text-centered">关系</h4>
</div>
<%= f.fields :agency do |ef| %>
  <%= ef.select :relation, options_for_select(Crm::Agency.options_i18n(:relation)) %>
<% end %>
<div class="level">
  <h4 class="level-item has-text-centered">家长信息</h4>
</div>
<%= f.fields :agent do |ef| %>
  <%= ef.text_field :real_name %>
  <%= ef.text_field :identity, required: true %>
  <%= ef.select :gender, options_for_select(Profiled::Profile.options_i18n(:gender)) %>
<% end %>
