<%= form_with url: { action: 'new' }, method: :get do |f| %>
  <div class="inline fields">
    <%= f.hidden_field :agent_id, value: @agent.id %>
    <%= f.collection_select :agency_id, @agencies, :id, :name, label: '选择现有', can: { wrap_all: false } %>
    <%= f.submit '下一步', can: { wrap_all: false, offset: false } %>
  </div>
<% end %>
<div class="ui horizontal divider">或</div>
<div class="ui center aligned basic segment">
  <%= link_to({ action: 'new', agent_id: @agent.id }, class: 'button is-link is-small') do %>
    <i class="fa-light fa-plus"></i>
    <span>新增</span>
  <% end %>
</div>
