<table class="as-search">
  <tr>
    <th><%= Maintain.human_attribute_name(:state) %></th>
    <td>
      <%= link_to t('.all'), filter_params(except: [:state]), class: active_params(state: '', active: 'button is-info', item: 'button is-light') %>
      <% Maintain.options_i18n(:state).each do |text, state| %>
        <%= link_to text, filter_params(state: state), class: active_params(state: state, active: 'button is-info', item: 'button is-light') %>
      <% end %>
    </td>
  </tr>
  <tr>
    <th>只看自己</th>
    <td>
      <%= link_to t('.all'), filter_params(except: [:member_id]), class: active_params(member_id: nil, active: 'button is-info', item: 'button is-light') %>
      <%= link_to '只看自己', filter_params(member_id: current_member&.id), class: active_params(member_id: current_member&.id, active: 'button is-info', item: 'button is-light') %>
    </td>
  </tr>
  <tr>
    <th><%= link_to Maintain.human_attribute_name(:maintain_source_id), admin_maintain_sources_path, text: true %></th>
    <td>
      <%= link_to t('.all'), filter_params(except: [:maintain_source_id]), class: active_params(maintain_source_id: '', active: 'button is-info', item: 'button is-light') %>
      <% @maintain_sources.each do |maintain_source| %>
        <%= link_to maintain_source.name, filter_params(maintain_source_id: maintain_source.id), class: active_params(maintain_source_id: maintain_source.id, active: 'button is-info', item: 'button is-light') %>
      <% end %>
      <%= link_to new_admin_maintain_source_path, aria: { label: t('.new') }, remote: true, class: 'button is-small is-rounded is-light' do %>
        <i class="fas fa-plus"></i>
      <% end %>
    </td>
  </tr>
  <tr>
    <th><%= link_to MaintainLog.human_attribute_name(:maintain_tag_id), admin_maintain_tags_path, text: true %></th>
    <td>
      <%= link_to t('.all'), filter_params(except: [:'maintain_logs.maintain_tag_id']), class: active_params('maintain_logs.maintain_tag_id': '', active: 'button is-info', item: 'button is-light') %>
      <% @maintain_tags.each do |maintain_tag| %>
        <%= link_to maintain_tag.name, filter_params('maintain_logs.maintain_tag_id': maintain_tag.id), class: active_params('maintain_logs.maintain_tag_id': maintain_tag.id, active: 'button is-info', item: 'button is-light') %>
      <% end %>
      <%= link_to new_admin_maintain_tag_path, aria: { label: t('.new') }, remote: true, class: 'button is-small is-rounded is-light' do %>
        <i class="fas fa-plus"></i>
      <% end %>
    </td>
  </tr>
  <tr>
    <th><%= link_to Maintain.human_attribute_name(:pipeline_id), admin_task_templates_path(tasking_type: 'Maintain'), text: true %></th>
    <td>
      <%= link_to t('.all'), filter_params(except: [:pipeline_id]), class: active_params(pipeline_id: '', active: 'button is-info', item: 'button is-light') %>
      <% @pipelines.each do |pipeline| %>
        <%= link_to pipeline.name, filter_params(pipeline_id: pipeline.id), class: active_params(pipeline_id: pipeline.id, active: 'button is-info', item: 'button is-light') %>
      <% end %>
      <%= link_to new_admin_task_template_path(tasking_type: 'Maintain'), aria: { label: t('.new') }, remote: true, class: 'button is-small is-rounded is-light' do %>
        <i class="fas fa-plus"></i>
      <% end %>
    </td>
  </tr>
</table>
