<%= search_form_with model: Maintain.new do |f| %>
  <div class="fields">
    <%= f.text_field :'client.real_name' %>
    <%= f.text_field :'tutelar.identity' %>
    <%= f.text_field :'age-gte' %>
    <%= f.text_field :'age-lte' %>
    <%= f.submit %>
    <%= link_to t('.clear'), filter_params(except: [:'client.real_name', :'tutelar.identity', 'age-gte', 'age-lte']), class: 'ui white button' %>
  </div>
<% end %>
<div class="ui divider"></div>
<dl>
  <dt><%= Maintain.human_attribute_name(:state) %></dt>
  <dd>
    <%= link_to t('.all'), filter_params(except: [:state]), class: active_params(state: '', active_class: 'ui basic blue button', item_class: 'ui basic white button') %>
    <% Maintain.options_i18n(:state).each do |text, state| %>
      <%= link_to text, filter_params(state: state), class: active_params(state: state, active_class: 'ui basic blue button', item_class: 'ui basic white button') %>
    <% end %>
  </dd>
</dl>
<dl>
  <dt>只看自己</dt>
  <dd>
    <%= link_to t('.all'), filter_params(except: [:myself]), class: active_params(myself: '', active_class: 'ui basic blue button', item_class: 'ui basic white button') %>
    <%= link_to '只看自己', filter_params(myself: true), class: active_params(myself: true, active_class: 'ui basic blue button', item_class: 'ui basic white button') %>
  </dd>
</dl>
<dl>
  <dt><%= link_to Maintain.human_attribute_name(:maintain_source_id), admin_maintain_sources_path, text: true %></dt>
  <dd>
    <%= link_to t('.all'), filter_params(except: [:maintain_source_id]), class: active_params(maintain_source_id: '', active_class: 'ui basic blue button', item_class: 'ui basic white button') %>
    <% @maintain_sources.each do |maintain_source| %>
      <%= link_to maintain_source.name, filter_params(maintain_source_id: maintain_source.id), class: active_params(maintain_source_id: maintain_source.id, active_class: 'ui basic blue button', item_class: 'ui basic white button') %>
    <% end %>
    <%= link_to new_admin_maintain_source_path, data: { tooltip: t('.new') }, remote: true, class: 'ui mini circular icon button' do %>
      <i class="fas fa-plus"></i>
    <% end %>
  </dd>
</dl>
<dl>
  <dt><%= link_to MaintainLog.human_attribute_name(:maintain_tag_id), admin_maintain_tags_path, text: true %></dt>
  <dd>
    <%= link_to t('.all'), filter_params(except: [:'maintain_logs.maintain_tag_id']), class: active_params('maintain_logs.maintain_tag_id': '', active_class: 'ui basic blue button', item_class: 'ui basic white button') %>
    <% @maintain_tags.each do |maintain_tag| %>
      <%= link_to maintain_tag.name, filter_params('maintain_logs.maintain_tag_id': maintain_tag.id), class: active_params('maintain_logs.maintain_tag_id': maintain_tag.id, active_class: 'ui basic blue button', item_class: 'ui basic white button') %>
    <% end %>
    <%= link_to new_admin_maintain_tag_path, data: { tooltip: t('.new') }, remote: true, class: 'ui mini circular icon button' do %>
      <i class="fas fa-plus"></i>
    <% end %>
  </dd>
</dl>
<dl>
  <dt><%= link_to Maintain.human_attribute_name(:pipeline_id), admin_pipelines_path(piping_type: 'Maintain'), text: true %></dt>
  <dd>
    <%= link_to t('.all'), filter_params(except: [:pipeline_id]), class: active_params(pipeline_id: '', active_class: 'ui basic blue button', item_class: 'ui basic white button') %>
    <% @pipelines.each do |pipeline| %>
      <%= link_to pipeline.name, filter_params(pipeline_id: pipeline.id), class: active_params(pipeline_id: pipeline.id, active_class: 'ui basic blue button', item_class: 'ui basic white button') %>
    <% end %>
    <%= link_to new_admin_pipeline_path(piping_type: 'Maintain'), data: { tooltip: t('.new') }, remote: true, class: 'ui mini circular icon button' do %>
      <i class="fas fa-plus"></i>
    <% end %>
  </dd>
</dl>
