<%= form_with model: [:admin, @maintain] do |f| %>
  <%= render 'shared/error_messages', target: @maintain %>
  <h4 class="ui dividing center aligned header">儿童信息</h4>
  <%= f.fields :client do |ef| %>
    <%= ef.text_field :real_name %>
    <%= ef.text_field :nick_name %>
    <%= ef.select :birthday_type, options_for_select(Profile.options_i18n(:birthday_type)) %>
    <%= ef.date_field :birthday %>
    <%= ef.select :gender, options_for_select(Profile.options_i18n(:gender)) %>
    <%= ef.file_field :avatar %>
  <% end %>
  <h4 class="ui dividing center aligned header">关系</h4>
  <%= f.fields :tutelage do |ef| %>
    <%= ef.select :relation, options_for_select(Tutelage.options_i18n(:relation)) %>
  <% end %>
  <h4 class="ui dividing center aligned header">家长信息</h4>
  <%= f.fields :tutelar do |ef| %>
    <%= ef.text_field :real_name %>
    <%= ef.text_field :identity, required: true %>
    <%= ef.select :gender, options_for_select(Profile.options_i18n(:gender)) %>
    <%= render partial: 'nodes/outer_select', locals: { f: ef, outer: 'area' } %>
    <%= ef.text_area :address, rows: 3 %>
  <% end %>
  <h4 class="ui dividing center aligned header">线索信息</h4>
  <%= f.hidden_field :member_id %>
  <div class="inline fields">
    <%= f.collection_select :maintain_source_id, @maintain_sources, :id, :name, on: { wrapper_all: false } %>
    <%= link_to admin_maintain_sources_path, data: { tooltip: '来源设置' }, target: '_blank' do %>
      <i class="fas fa-cog"></i>
    <% end %>
  </div>
  <div class="inline fields">
    <%= f.collection_select :pipeline_id, @pipelines, :id, :name, include_blank: true, on: { wrapper_all: false } %>
    <%= link_to admin_pipelines_path, data: { tooltip: '流水线' }, target: '_blank' do %>
      <i class="fas fa-cog"></i>
    <% end %>
  </div>
  <%= f.text_field :note %>
  <%= f.submit %>
<% end %>
