<div class="level">
  <h4 class="level-item has-text-centered">线索信息</h4>
</div>
<div class="field is-horizontal">
  <%= f.collection_select :maintain_source_id, @maintain_sources, :id, :name, all: { normal: nil } %>
  <%= link_to({ controller: 'maintain_sources' }, aria: { label: '来源设置' }, target: '_blank') do %>
    <i class="fa-light fa-cog"></i>
  <% end %>
</div>
<div class="field is-horizontal">
  <%= f.collection_select :pipeline_id, @task_templates, :id, :name, include_blank: true, all: { normal: nil } %>
  <%= link_to({ contorller: 'bench/admin/task_templates' }, aria: { label: '流水线' }, target: '_blank') do %>
    <i class="fa-light fa-cog"></i>
  <% end %>
</div>
<%= f.number_field :deposit_ratio %>
<%= f.collection_select :payment_strategy_id, @payment_strategies, :id, :name %>
<%= f.text_field :remark %>
<%= f.text_area :note %>
