<th></th>
<th>
  <p><%= Maintain.human_attribute_name('client.real_name') %></p>
  <p class="has-text-grey"><%= Maintain.human_attribute_name('client.nick_name') %></p>
</th>
<th>
  <p><%= Profile.human_attribute_name(:age) %></p>
  <p><%= Profile.human_attribute_name(:gender) %></p>
</th>
<th>
  <p><%= Maintain.human_attribute_name('agent.real_name') %></p>
  <p class="has-text-success"><%= Maintain.human_attribute_name('agent.identity') %></p>
</th>
<th><%= Agency.human_attribute_name(:relation) %></th>
<th>
  <div>
    <%= Maintain.human_attribute_name(:maintain_source_id) %>
    <%= link_to admin_maintain_sources_path, aria: { label: '来源设置' }, target: '_blank' do %>
      <i class="fa-light fa-cog"></i>
    <% end %>
  </div>
  <div>
    <%= Maintain.human_attribute_name(:pipeline_id) %>
    <%= link_to admin_task_templates_path(tasking_type: 'Maintain'), aria: { label: '流水线' }, target: '_blank' do %>
      <i class="fa-light fa-cog"></i>
    <% end %>
  </div>
</th>
<th><%= Profile.human_attribute_name(:note) %></th>
<th>
  <%= MaintainLog.human_attribute_name(:maintain_tag_id) %>
  <%= link_to admin_maintain_tags_path, aria: { label: '标签设置' }, target: '_blank' do %>
    <i class="fa-light fa-cog"></i>
  <% end %>
</th>
<th>
  <p class="has-text-grey"><%= Maintain.human_attribute_name(:member_id) %></p>
  <p><%= Maintain.human_attribute_name(:state) %></p>
</th>
<th></th>
