<tr>
  <td class="has-text-right"><%= Crm::Maintain.human_attribute_name(:note) %></td>
  <td><%= @maintain.note %></td>
</tr>
<tr>
  <td class="has-text-right"><%= Crm::Maintain.human_attribute_name(:remark) %></td>
  <td><%= @maintain.remark %></td>
</tr>
<%= render partial: @maintain.client_type.split('::')[-1].underscore, locals: { client: @maintain.client } %>
