<%= form_with theme: 'search', model: Maintain.new do |f| %>
  <div class="field-body">
    <%= f.text_field 'client.real_name' %>
    <%= f.text_field 'tutelar.identity' %>
    <div class="field is-narrow">
      <%= f.submit %>
      <%= link_to t('.clear'), filter_params(except: ['client.real_name', 'tutelar.identity']), class: 'button is-light' %>
    </div>
  </div>
<% end %>

<table class="table is-hoverable is-fullwidth" data-controller="check">
  <thead>
    <tr>
      <th>
        <%= check_box_tag 'xxd', 'xx', false, data: { action: 'check#toggleAll' } %>
      </th>
      <th>
        <p><%= Maintain.human_attribute_name('client.real_name') %></p>
        <p class="ui grey text"><%= Maintain.human_attribute_name('client.nick_name') %></p>
      </th>
      <th>
        <p><%= Maintain.human_attribute_name('client.age') %></p>
        <p><%= Maintain.human_attribute_name('client.gender') %></p>
      </th>
      <th>
        <p><%= Maintain.human_attribute_name('tutelar.real_name') %></p>
        <p class="ui green text"><%= Maintain.human_attribute_name('tutelar.identity') %></p>
      </th>
      <th><%= Agency.human_attribute_name(:relation) %></th>
      <th>
        <%= Maintain.human_attribute_name(:maintain_source_id) %>
        <%= link_to admin_maintain_sources_path, aria: { label: '来源设置' }, target: '_blank' do %>
          <i class="fa-light fa-cog"></i>
        <% end %>
      </th>
      <th><%= Maintain.human_attribute_name(:note) %></th>
      <th>
        <%= MaintainLog.human_attribute_name(:maintain_tag_id) %>
        <%= link_to admin_maintain_tags_path, aria: { label: '标签设置' }, target: '_blank' do %>
          <i class="fa-light fa-cog"></i>
        <% end %>
      </th>
      <th><%= Maintain.human_attribute_name(:state) %></th>
      <th>
        <%= link_to assign_admin_maintains_path, aria: { label: t('.assign'), action: 'check#applyFor' }, class: 'ui mini button' do %>
          <i class="fa-light fa-hand-holding-usd"></i>
        <% end %>
      </th>
    </tr>
  </thead>
  <tbody>
  <% @maintains.each do |maintain| %>
    <%= render layout: 'maintain', locals: { maintain: maintain } do %>
      <td>
        <p><%= maintain.state_i18n %></p>
      </td>
      <td>
        <%= link_to assume_admin_maintain_path(maintain), aria: { label: t('.assume') }, method: :patch, class: 'button is-small is-rounded is-light' do %>
          <i class="fa-light fa-vote-yea"></i>
        <% end %>
        <%= link_to assign_admin_maintain_path(maintain), aria: { label: t('.assign') }, class: 'button is-small is-rounded is-light' do %>
          <i class="fa-light fa-hand-holding-usd"></i>
        <% end %>
        <%= link_to admin_maintain_maintain_logs_path(maintain), aria: { label: t('.log') }, class: 'button is-small is-rounded is-light' do %>
          <i class="fa-light fa-clock"></i>
        <% end %>
        <%= link_to admin_maintain_path(maintain), aria: { label: t('.show') }, class: 'button is-small is-rounded is-light' do %>
          <i class="fa-light fa-circle-info"></i>
        <% end %>
        <%= link_to edit_admin_maintain_path(maintain), aria: { label: t('.edit') }, class: 'button is-small is-rounded is-light' do %>
          <i class="fa-light fa-pencil"></i>
        <% end %>
        <%= link_to admin_maintain_path(maintain), method: :delete, aria: { label: t('.destroy') }, data: { confirm: t('.confirm') }, class: 'button is-small is-rounded is-light' do %>
          <i class="fa-light fa-trash"></i>
        <% end %>
      </td>
    <% end %>
  <% end %>
  </tbody>
</table>

<%= paginate @maintains %>
