<dl class="as-show is-box m-3">
  <div>
    <dt><%= Crm::Contact.human_attribute_name(:name) %></dt>
    <dd><%= @contact.name %></dd>
  </div>
  <div>
    <dt><%= Crm::Contact.human_attribute_name(:identity) %></dt>
    <dd><%= @contact.identity %></dd>
  </div>
</dl>

<div class="box mx-3 has-text-centered">
  <p>绑定成功</p>
</div>

<div class="box mx-3">
  <p class="has-text-centered">如果这不是你的信息</p>
  <%= button_to({ action: 'destroy_bind', id: @contact.id }, method: :delete, class: 'button is-fullwidth is-danger') do %>
    <span>解除绑定</span>
  <% end %>
</div>

<%= link_to(current_organ.redirect_path, class: 'button is-success mx-3') do %>
  <span>返回首页</span>
<% end %>
