<% if params[:contact_id] && @client.client %>
  <li><%= link_to t('.clients.index.title'), { controller: 'clients' } %></li>
  <li><%= link_to @client.client.name, { controller: 'crm/admin/client/addresses', client_id: @client.client_id } %></li>
  <li><%= link_to t('crm.admin.client.contacts.index.title'), { controller: 'crm/admin/client/contacts', client_id: @client.client_id } %></li>
<% elsif params[:contact_id] %>
  <li><%= link_to t('.contacts.index.title'), { controller: 'contacts' } %></li>
<% else %>
  <li><%= link_to t('.clients.index.title'), { controller: 'crm/admin/clients' } %></li>
<% end %>
<li><span class="px-3"><%= @client.name %></span></li>
<li class="is-active"><%= t('.title') %></li>
