<% if model.wallet_template_id %>
  <div class="is-several">
    <%= image_tag model.wallet_template.logo, class: 'image is-24x24' if model.wallet_template.logo.attached? %>
    <span><%= model.wallet_template.name %></span>
  </div>
  <span class="color-danger"><%= model.amount.to_fs(:rounded, precision: model.wallet_template.digit) %></span>
  <span class="color-grey"><%= model.wallet_template.unit %></span>
<% else %>
  <span class="tag">人民币钱包</span>
  <span class="color-danger"><%= model.amount.to_money.format.html_safe %></span>
<% end %>
