<div class="ui top attached segment">
  <%= render 'filter' %>
</div>

<table class="table is-hoverable is-fullwidth">
  <thead>
    <tr>
      <th><%= MaintainSourceTemplate.human_attribute_name(:name) %></th>
      <th>
        <%= link_to new_admin_maintain_source_template_path, class: 'ui teal button', remote: true do %>
          <i class="fas fa-plus"></i><%= t('.new') %>
        <% end %>
      </th>
    </tr>
  </thead>
  <tbody>
  <% @maintain_source_templates.each do |maintain_source_template| %>
    <tr>
      <td><%= maintain_source_template.name %></td>
      <td>
        <%= link_to admin_maintain_source_template_path(maintain_source_template), aria: { label: t('.show') }, class: 'ui mini circular icon button', remote: true do %>
          <i class="fas fa-eye"></i>
        <% end %>
        <%= link_to edit_admin_maintain_source_template_path(maintain_source_template), aria: { label: t('.edit') }, class: 'ui mini circular icon button', remote: true do %>
          <i class="fas fa-pencil-alt"></i>
        <% end %>
        <%= link_to admin_maintain_source_template_path(maintain_source_template), method: :delete, aria: { label: t('.destroy') }, data: { confirm: t('.confirm') }, class: 'ui mini circular icon button' do %>
          <i class="fas fa-trash-alt"></i>
        <% end %>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>

<%= paginate @maintain_source_templates %>
