<%= render layout: 'qrcode_table' do %>
  <%= render partial: 'qrcode_tbody', layout: 'qrcode_tr', collection: @source.qrcodes, as: :model %>
<% end %>
<%= render layout: 'text_table' do %>
  <%= render partial: 'text_tbody', layout: 'text_tr', collection: @source.texts, as: :model %>
<% end %>

<div class="box">
<% if @source.picture.attached? %>
  <%= image_tag @source.url_with_watermark, class: 'image' %>
<% end %>
</div>
