<td><%= model.state_i18n %></td>
<td>
  <p></p>
</td>
<td>
  <p><%= model.maintain_source&.name %></p>
  <p>
    <span><%# model.task_template&.name %></span>
    <% if model.member %>
      <span>(<%= model.member.name %>)</span>
    <% end %>
  </p>
</td>
<td>
  <% model.tags.each do |tag| %>
    <span class="tag"><%= tag %></span>
  <% end %>
</td>
<td>
  <p class="text-grey"><%= model.member&.name %></p>
  <p class="text-grey"><time data-controller="time"><%= model.created_at.to_fs(:iso8601) %></time></p>
</td>
<% if defined? RailsFactory %>
<td>
  <%= form_with theme: nil, model: model, url: { action: 'update', id: model.id }, data: { controller: 'input' } do |f| %>
    <%= f.check_box :vendor, data: { input_target: 'checkbox' }, id: nil, class: 'switch is-rounded' %>
    <label data-action="click->input#check"></label>
  <% end %>
</td>
<% end %>
