<div>
  <dt><%= Crm::Note.human_attribute_name(:content) %></dt>
  <dd><%= @note.content %></dd>
</div>
<div>
  <dt><%= Crm::Note.human_attribute_name(:logged_type) %></dt>
  <dd><%= @note.logged_type %></dd>
</div>
<div>
  <dt><%= Crm::Note.human_attribute_name(:logged_id) %></dt>
  <dd><%= @note.logged_id %></dd>
</div>
<div>
  <dt><%= Crm::Note.human_attribute_name(:created_at) %></dt>
  <dd><time data-controller="time"><%= @note.created_at&.to_fs(:iso8601) %></time></dd>
</div>
