<th><%= Crm::MaintainLog.human_attribute_name(:maintain_tag_id) %></th>
<th><%= Crm::MaintainLog.human_attribute_name(:note) %></th>
<th>
  <p><%= Crm::MaintainLog.human_attribute_name(:logged_type) %></p>
  <p><%= Crm::MaintainLog.human_attribute_name(:logged_id) %></p>
</th>
<th><%= Crm::MaintainLog.human_attribute_name(:extra) %></th>
<th><%= Crm::MaintainLog.human_attribute_name(:created_at) %></th>
<th><%= Crm::MaintainLog.human_attribute_name(:member_id) %></th>
