<div class="<%= active_helper(modules: 'crm/panel', active: 'menu ex-accordion is-active', item: 'menu ex-accordion') %>" data-controller="menu">
  <%= content_tag :div, class: 'menu-list' do %>
    <%= link_to t('crm.panel.sources.index.title'), { controller: 'crm/panel/sources' }, class: active_helper(controllers: ['sources', 'qrcodes', 'texts'], active: 'is-active') %>
    <%= link_to t('crm.panel.tags.index.title'), { controller: 'crm/panel/tags' }, class: active_helper(controllers: ['tags'], active: 'is-active') -%>
  <% end %>
  <a class="menu-label" data-action="menu#toggle">
    <i class="fa-solid fa-chart-line fa-fw"></i>
    <span><%= t('crm.panel.title') %></span>
    <i class="fa-solid dropdown"></i>
  </a>
</div>
