<tr>
  <td class="has-text-right"><%= Profiled::Profile.human_attribute_name(:identity) %></td>
  <td><%= client.identity %></td>
</tr>
<tr>
  <td class="has-text-right"><%= Crm::Maintain.human_attribute_name('client.real_name') %></td>
  <td><%= client.real_name %></td>
</tr>
<tr>
  <td class="has-text-right"><%= Crm::Maintain.human_attribute_name('client.nick_name') %></td>
  <td><%= client.nick_name %></td>
</tr>
<tr>
  <td class="has-text-right"><%= Profiled::Profile.human_attribute_name(:birthday_type) %></td>
  <td><%= client.birthday_type_i18n %></td>
</tr>
<tr>
  <td class="has-text-right"><%= Profiled::Profile.human_attribute_name(:birthday) %></td>
  <td><%= client.birthday %></td>
</tr>
<tr>
  <td class="has-text-right"><%= Profiled::Profile.human_attribute_name(:gender) %></td>
  <td><%= client.gender_i18n %></td>
</tr>
