<td>
  <%= link_to({ action: 'show', id: model.id }, class: 'is-several') do %>
    <%= image_tag model.product.logo, class: 'image is-24x24' if model.product.logo.attached? %>
    <span><%= model.name %></span>
  <% end %>
</td>
<td>
  <table class="table is-borderless">
  <% model.parts.each do |part| %>
    <tr>
      <td><span class="tag"><%= button_to part.name, { controller: 'factory/admin/products', action: 'show', taxon_id: part.taxon_id, id: part.id } %></span></td>
      <td><%# part.price %></td>
    </tr>
  <% end %>
  </table>
</td>
<td><%= model.price.to_money.format.html_safe %></td>
<td>
  <% @client.contacts.each do |contact| %>
    <div class="flex">
      <%= render partial: 'cart_item', locals: { item: @cart.init_cart_item(params, good_id: model.id, contact_id: contact.id), cart: @cart, item_con: 'crm/admin/items' } %>
      <span><%= contact.name %></span>
    </div>
  <% end %>
  <%= render partial: 'cart_item', locals: { item: @cart.init_cart_item(params, good_id: model.id, contact_id: nil), cart: @cart, item_con: 'crm/admin/items' } %>
</td>
<td></td>
