<%= form_with model: @order, url: { controller: 'orders', action: 'add' }, class: 'py-2' do |f| %>
  <%= f.fields :items do |ef| %>
    <%= ef.hidden_field :good_type, value: advance.class_name %>
    <%= ef.hidden_field :good_id, value: advance.id %>
  <% end %>
  <%= button_tag class: 'button is-light is-flex is-flex-direction-column py-3' do %>
    <div class="header has-text-grey">
      <span><%= advance.amount.to_fs(:rounded, precision: advance.wallet_template.digit) %></span>
      <span><%= advance.wallet_template.unit %></span>
    </div>
    <div class="description has-text-danger"><%= advance.price.to_money.format(html_wrap: true).html_safe %></div>
  <% end %>
<% end %>
